<app-navbar></app-navbar>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Username</th>
    <th scope="col">Email</th>
    <th scope="col">Role</th>
  </tr>
  </thead>
  <tbody class="table-group-divider" *ngFor="let user of users" >
  <tr>
    <th scope="row">{{user.id}}</th>
    <td scope="row">{{user.username}}</td>
    <td scope="row">{{user.email}}</td>
    <td>
        <div *ngFor="let role of user.roles">{{role.name}}</div>
    </td>
  </tr>
  </tbody>
</table>

