<div class="inscription">
  <h3 class="display-2 text-center">Register</h3>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="isEmploye" [value]="true">
    <label class="form-check-label" for="flexRadioDefault1">
      Employe
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" [(ngModel)]="isEmploye" [value]="false">
    <label class="form-check-label" for="flexRadioDefault2">
      Etudiant
    </label>
  </div>

  <form [formGroup]="registerRequestEmployeForm" (ngSubmit)="registerEmploye()" *ngIf ="isEmploye">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Username</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Username"  formControlName="username">
<!--      <div *ngIf="!formSubmitted && registerRequestForm">hhhhhhhhhhhhh</div>-->
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput2" class="form-label">email</label>
      <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="Email"  formControlName="email" >
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput3" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleFormControlInput3" placeholder="Password"  formControlName="password">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput8" class="form-label">major</label>
      <input type="text" class="form-control" id="exampleFormControlInput8" placeholder="major"  formControlName="major" >
    </div>

    <div class="text-center mt-3">
      <button id="btn-register" type="submit" class="btn btn-outline-success" >
        register
        <i class="bi bi-person-fill-add"></i>
      </button>
    </div>
  </form>

  <form [formGroup]="registerRequestForm" (ngSubmit)="register()" *ngIf="!isEmploye">
    <div class="mb-3">
      <label for="exampleFormControlInput4" class="form-label">Username</label>
      <input type="text" class="form-control" id="exampleFormControlInput4" placeholder="Username"  formControlName="username">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput5" class="form-label">email</label>
      <input type="email" class="form-control" id="exampleFormControlInput5" placeholder="Email"  formControlName="email" >
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput6" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleFormControlInput6" placeholder="Password"  formControlName="password">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput7" class="form-label">departement</label>
      <input type="departement" class="form-control" id="exampleFormControlInput7" placeholder="departement"  formControlName="email" >
    </div>
  
    <div class="text-center mt-3">
      <button id="btn-register" type="submit" class="btn btn-outline-success" >
        register
        <i class="bi bi-person-fill-add"></i>
      </button>
    </div>
  </form>
</div>

<div class="modal fade" id="registerError" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel3">Register failed</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{errorRegister}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
